# ASSOCIATION RULES - APRIORI - Retail

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\toshiba\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: setuptools in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (45.2.0.post20200210)
Requirement already satisfied: numpy>=1.16.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\toshiba\anaconda3\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\toshiba\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\toshiba\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: cycler>=0.10 in c:\users\toshiba\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\toshiba\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
# load the dataset
df = pd.read_csv('retail_dataset.csv', sep=',')
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [6]:
# shape
df.shape

(315, 7)

In [7]:
df.values

array([['Bread', 'Wine', 'Eggs', ..., 'Cheese', 'Pencil', 'Diaper'],
       ['Bread', 'Cheese', 'Meat', ..., 'Wine', 'Milk', 'Pencil'],
       ['Cheese', 'Meat', 'Eggs', ..., 'Wine', nan, nan],
       ...,
       ['Bread', 'Cheese', 'Eggs', ..., 'Pencil', 'Diaper', 'Wine'],
       ['Meat', 'Cheese', nan, ..., nan, nan, nan],
       ['Eggs', 'Wine', 'Bagel', ..., 'Meat', nan, nan]], dtype=object)

In [10]:
# how many different products are there
items = (df['0'].unique())
len(items)

9

In [11]:
# one-hot encoding - (For theory only)
encoded_vals = []
for index, row in df.iterrows(): 
    labels = {}
    uncommons = list(set(items) - set(row))
    commons = list(set(items).intersection(row))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)

In [12]:
# Create ohe_df
ohe_df = pd.DataFrame(encoded_vals)

In [13]:
ohe_df.head()

   Bagel  Milk  Cheese  Wine  Diaper  Pencil  Meat  Bread  Eggs
0      0     0       1     1       1       1     1      1     1
1      0     1       1     1       1       1     1      1     0
2      0     1       1     1       0       0     1      0     1
3      0     1       1     1       0       0     1      0     1
4      0     0       0     1       0       1     1      0     0

In [19]:
# set a support value and select those above that value. (Support = 0.2)
freq_items = apriori(ohe_df, min_support = 0.2, use_colnames = True, verbose = 1)
freq_items

Processing 4 combinations | Sampling itemset size 4 3

     support              itemsets
0   0.425397               (Bagel)
1   0.501587                (Milk)
2   0.501587              (Cheese)
3   0.438095                (Wine)
4   0.406349              (Diaper)
5   0.361905              (Pencil)
6   0.476190                (Meat)
7   0.504762               (Bread)
8   0.438095                (Eggs)
9   0.225397         (Bagel, Milk)
10  0.279365        (Bread, Bagel)
11  0.304762        (Cheese, Milk)
12  0.219048          (Milk, Wine)
13  0.244444          (Meat, Milk)
14  0.279365         (Bread, Milk)
15  0.244444          (Milk, Eggs)
16  0.269841        (Cheese, Wine)
17  0.200000      (Cheese, Diaper)
18  0.200000      (Cheese, Pencil)
19  0.323810        (Cheese, Meat)
20  0.238095       (Cheese, Bread)
21  0.298413        (Cheese, Eggs)
22  0.234921        (Diaper, Wine)
23  0.200000        (Pencil, Wine)
24  0.250794          (Meat, Wine)
25  0.244444         (Bread, Wine)
26  0.241270          (Wine, Eggs)
27  0.231746       (Bread, Diaper)
28  0.200000       (Bread, Pencil)
29  0.206349         (Meat, Bread)
30  0.266667          (Meat, Eggs)
31  0.203175  (Cheese, Meat, Milk)
32  0.215873  (Cheese, Meat, Eggs)

In [21]:
# # Sorting by support values
freq_items.sort_values("support", ascending = False)

     support              itemsets
7   0.504762               (Bread)
2   0.501587              (Cheese)
1   0.501587                (Milk)
6   0.476190                (Meat)
3   0.438095                (Wine)
8   0.438095                (Eggs)
0   0.425397               (Bagel)
4   0.406349              (Diaper)
5   0.361905              (Pencil)
19  0.323810        (Cheese, Meat)
11  0.304762        (Cheese, Milk)
21  0.298413        (Cheese, Eggs)
14  0.279365         (Bread, Milk)
10  0.279365        (Bread, Bagel)
16  0.269841        (Cheese, Wine)
30  0.266667          (Meat, Eggs)
24  0.250794          (Meat, Wine)
13  0.244444          (Meat, Milk)
25  0.244444         (Bread, Wine)
15  0.244444          (Milk, Eggs)
26  0.241270          (Wine, Eggs)
20  0.238095       (Cheese, Bread)
22  0.234921        (Diaper, Wine)
27  0.231746       (Bread, Diaper)
9   0.225397         (Bagel, Milk)
12  0.219048          (Milk, Wine)
32  0.215873  (Cheese, Meat, Eggs)
29  0.206349         (Meat, Bread)
31  0.203175  (Cheese, Meat, Milk)
23  0.200000        (Pencil, Wine)
18  0.200000      (Cheese, Pencil)
28  0.200000       (Bread, Pencil)
17  0.200000      (Cheese, Diaper)

In [22]:
# The lengths of itemsets
freq_items['length'] = freq_items['itemsets'].apply(lambda x:len(x))
freq_items

     support              itemsets  length
0   0.425397               (Bagel)       1
1   0.501587                (Milk)       1
2   0.501587              (Cheese)       1
3   0.438095                (Wine)       1
4   0.406349              (Diaper)       1
5   0.361905              (Pencil)       1
6   0.476190                (Meat)       1
7   0.504762               (Bread)       1
8   0.438095                (Eggs)       1
9   0.225397         (Bagel, Milk)       2
10  0.279365        (Bread, Bagel)       2
11  0.304762        (Cheese, Milk)       2
12  0.219048          (Milk, Wine)       2
13  0.244444          (Meat, Milk)       2
14  0.279365         (Bread, Milk)       2
15  0.244444          (Milk, Eggs)       2
16  0.269841        (Cheese, Wine)       2
17  0.200000      (Cheese, Diaper)       2
18  0.200000      (Cheese, Pencil)       2
19  0.323810        (Cheese, Meat)       2
20  0.238095       (Cheese, Bread)       2
21  0.298413        (Cheese, Eggs)       2
22  0.234921        (Diaper, Wine)       2
23  0.200000        (Pencil, Wine)       2
24  0.250794          (Meat, Wine)       2
25  0.244444         (Bread, Wine)       2
26  0.241270          (Wine, Eggs)       2
27  0.231746       (Bread, Diaper)       2
28  0.200000       (Bread, Pencil)       2
29  0.206349         (Meat, Bread)       2
30  0.266667          (Meat, Eggs)       2
31  0.203175  (Cheese, Meat, Milk)       3
32  0.215873  (Cheese, Meat, Eggs)       3

In [23]:
# review of all metrics
association_rules(freq_items, metric="confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
3,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
4,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
5,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
6,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
8,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
9,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
10,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
11,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714
12,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667

In [24]:
# Let's create a data set and keep this information there.
df_ar = association_rules(freq_items, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
3,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
4,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
5,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
6,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
7,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
8,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
9,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
10,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
11,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714
12,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667

In [25]:
df_ar[(df_ar.support < 0.3) & (df_ar.confidence > 0.7)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
10,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
12,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Eggs)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667